
<ul class="all_faculty_list">
	<% @faculties.each do |faculty| %>
		<li class="faculties_list">
		<%= image_tag(faculty.university.image, class: "uni_image") %>
		<h5>
			<p></p>
		 <%= faculty.study.name %></h5>
		<p class="description"><%= faculty.study.description %></p>
		<p class="global_score"><%=faculty.global_score%></p>
		</li>
	<%end%>
</ul>
